@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
:root {
  --background: #191923;
  --card-color: #24242fb4;
  --overlay: #20202a;
  --text: #fafafc;
  --captive: #72707c;
  --font: "Montserrat", sans-serif;
  --angular: #d60030;
  --python: #ffdd4f;
  --explained: #8c8c8e;
  --gradient: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
}

body {
  /* background-color: var(--background); */
  background: linear-gradient(to left, #191923ec, #191923ec);
  margin: 0px;
  background-position: center;
  background-size: cover;
}
* {
  scroll-behavior: smooth;
}
.container-port {
  /* padding: 15px; */
  background: #191923a8;
  width: 95%;
  height: 90vh;
  position: relative;
  overflow: hidden;
  /* box-shadow: 1px 1px 1px -1px black; */
  margin: auto;
  margin-top: 2%;
  backdrop-filter: blur(5px);
  display: flex;
  border-radius: 5px;
}

.sider-container {
  width: 250px !important;
  height: 100%;
  position: static;
  box-shadow: 0px 1px 5px -2px rgb(0, 0, 0);
  overflow: hidden scroll;
  scrollbar-width: none;
  transition: 0.3s;
  top: 0;
  /* margin-left:-250px; */
}
.sider-container::-webkit-scrollbar {
  display: none;
}
.sidebarBtn {
  position: fixed;
  top: 0;
  /* right:-50px; */
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 100;
}

.sidebarBtn span {
  display: block;
  width: 15px;
  height: 1px;
  background-color: var(--explained) !important;
  position: absolute;
  top: 20px;
  transition: 0.3s;
}

.sidebarBtn span:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--explained) !important;
  position: absolute;
  top: -5px;
  left: 0;
  transition: 0.3s;
}

.sidebarBtn span:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--explained) !important;
  position: absolute;
  top: 5px;
  left: 0;
  transition: 0.3s;
}

.active {
  left: 0;
}

.sidebarBtn.toggle span {
  background-color: transparent;
}

.sidebarBtn.toggle span:before {
  top: 0;
  transform: rotate(-45deg);
}

.sidebarBtn.toggle span:after {
  top: 0;
  transform: rotate(45deg);
}
.sider-card {
  width: 230px !important;
  height: 200px;
  max-height: 200px;
  box-shadow: 1px 0px 1px -1px rgb(56, 56, 56);
  border-radius: 3px;
  background-color: var(--card-color) !important;
  margin: auto;
  padding: 10px;
  position: absolute;
  box-sizing: content-box;
  z-index: 100;
  backdrop-filter: blur(10px);
}
.sider-card > i {
  text-decoration: none;
  color: var(--text) !important;
  position: absolute;
  top: 85%;
  left: 90%;
  font-family: var(--font) !important;
  font-weight: 800;
  font-stretch: expanded;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  text-align: center;
}

.profile {
  height: 128px;
  width: 128px;
  border-radius: 100%;
  overflow: hidden;
  margin: auto;
}
.profile-name {
  text-align: center;
  font-family: var(--font) !important;
  margin-top: 15px;
  margin-bottom: 0px;
  color: var(--text) !important;
  font-size: large;
}
.carrote {
  margin: 0px;
  margin-top: 10px;
  font-size: smaller;
  font-weight: 400;
  color: var(--captive) !important;
  font-family: var(--font) !important;
  text-align: center;
}
.native {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.native p {
  margin: 0px;
  margin-top: 10px;
  font-size: smaller;
  font-weight: 400;
  color: var(--text) !important;
  font-family: var(--font) !important;
  text-align: center;
}
.wr-content {
  background-color: var(--background) !important;
  box-shadow: 2px 0px 3px -2px gray;
  padding-bottom: 15px;
  position: relative;
}

.flex-board {
  display: flex;
  /* background-color: red; */
}
.progressbar {
  margin: auto;
  padding: 23px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
.wr-content-title {
  color: var(--text) !important;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: var(--font) !important;
  text-align: center;
  font-size: smaller !important;
}
.skill-badge {
  border: 1px solid red;
  border-radius: 5px;
  font-size: small;
  color: var(--text) !important;
  font-family: var(--font) !important;
  padding: 5px;
  margin: 2%;
}
ul.kn {
  list-style: none;
  margin: 0px !important;
}
ul.kn li::before {
  content: "";
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3403 -0.000198364H5.67031C2.28031 -0.000198364 0.000305176 2.3798 0.000305176 5.9198V14.0898C0.000305176 17.6198 2.28031 19.9998 5.67031 19.9998H14.3403C17.7303 19.9998 20.0003 17.6198 20.0003 14.0898V5.9198C20.0003 2.3798 17.7303 -0.000198364 14.3403 -0.000198364' fill='%2324242F'/%3E%3Cpath d='M8.81338 13.2479C8.58938 13.2479 8.36538 13.1629 8.19438 12.9919L5.82138 10.6189C5.47938 10.2769 5.47938 9.7229 5.82138 9.3819C6.16338 9.0399 6.71638 9.0389 7.05838 9.3809L8.81338 11.1359L12.9414 7.0079C13.2834 6.6659 13.8364 6.6659 14.1784 7.0079C14.5204 7.3499 14.5204 7.9039 14.1784 8.2459L9.43238 12.9919C9.26138 13.1629 9.03738 13.2479 8.81338 13.2479' fill='%23FAFAFC'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  position: absolute;
  left: 0px; /* place the SVG at the start of the padding */
  width: 25px;
  height: 25px;
  top: 0px;
}
ul.kn li {
  font-size: small;
  margin: 15px 0px;
  font-family: var(--font) !important;
  color: var(--text) !important;
  position: relative;
  padding-left: 2em;
  height: 25px;
  line-height: 20px;
}
div.body-content {
  height: 100%;
  width: 100%;
  flex: 1;
  overflow: hidden scroll;
  scrollbar-width: none;
  transition: 0.5s;
}
.body-content::-webkit-scrollbar {
  display: none;
}
.intro-card {
  width: 85%;
  margin: auto;
  margin-top: 23px;
  padding-top: 25px;
  border-radius: 3px;
  backdrop-filter: blur(10px);
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
  font-size: larger;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.intro-card h3 {
  color: var(--text) !important;
  font-family: var(--font) !important;
  margin-left: 16px;
  font-size: xx-large;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#typew code {
  color: var(--text) !important;
  font-size: small;
  padding: 10px 0px;
  margin-left: 16px;
}

.works > h6 {
  color: var(--text) !important;
  margin: 20px 0px !important;
  font-family: var(--font) !important;
  font-size: large;
  font-weight: 600;
}
.works > h6 > code {
  color: var(--text) !important;
}
.works-card {
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%) !important;
  border-radius: 6px;
  /* border: none !important; */
  box-shadow: none !important;
}

div[image="rounded"] {
  height: 75px;
  width: 75px;
  overflow: hidden;
}
.works-card > h6 {
  color: var(--text) !important;
  font-family: var(--font) !important;
  cursor: pointer;
}
.works-card > p {
  color: var(--explained) !important;
  font-family: var(--font) !important;
  font-size: small;
}
.works-card-tech > p {
  color: var(--text) !important;
  font-family: var(--font) !important;
  font-size: small;
  text-align: right;
  font-weight: bold;
}
.loby > div > span {
  color: var(--explained) !important;
}
.loby > div {
  color: var(--text) !important;
  font-size: small;
  font-family: var(--font) !important;
  font-weight: 500;
}
.loby {
  margin: 5px 0px !important;
}
.footerbar {
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%) !important;
  /* height: 5px; */
}
.foo-copy {
  color: var(--explained) !important;
  font-family: var(--font) !important;
  font-size: small;
  text-align: center;
}
.foo-copy > i {
  font-size: x-large;
  text-align: right;
}
.timeline-body h5 {
  font-family: var(--font) !important;
  font-size: medium;
}
p[content="experience"] {
  font-family: var(--font) !important;
  font-size: smaller;
  font-weight: 400;
  text-align: right;
  background: linear-gradient(159deg, #62627c 0%, #62627c 100%) !important;
  border-radius: 100px;
  padding: 2px;
  text-align: center;
}
p[content="company"] {
  font-family: var(--font) !important;
  font-size: smaller;
  font-weight: 400;
  font-style: italic;
  border-radius: 100px;
  color: var(--explained) !important;
  padding: 2px;
  margin: 0px;
}

.timeline {
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.timeline ul li {
  margin-bottom: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.point {
  min-width: 20px;
  height: 20px;
  background-color: #be9fe1;
  border-radius: 100%;
  z-index: 2;
  border: 3px #333333 solid;
  position: relative;
  left: 1px;
}

.timeline ul li .content {
  width: 50%;
  padding: 0 20px;
}

.timeline ul li:nth-child(odd) .content {
  padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .content {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .date {
  padding-left: 0;
}

.timeline ul li .date {
  width: 50%;
  padding: 0 20px;
  font-weight: normal;
}

.timeline ul li .date h4 {
  background: var(--gradient);
  width: 150px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
  font-family: var(--font);
  color: var(--text);
  font-size: small;
}

.timeline ul li .content h3 {
  padding: 10px 20px;
  background: var(--gradient);
  margin-bottom: 0;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: var(--font);
  color: var(--text);
  font-size: medium;
}

.timeline ul li .content p {
  padding: 10px 20px;
  background: var(--gradient);
  margin-top: 0;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: var(--font);
  color: var(--text);
  font-size: small;
}

.timeline ul li:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 {
  float: right;
}

.timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  left: 50%;
  background-color: #333333;
}
@media (max-width: 800px) {
  .point {
    min-width: 15px;
    height: 15px;
  }

  html,
  body {
    font-size: 15px;
  }
}

@media (max-width: 650px) {
  html,
  body {
    font-size: 14px;
  }

  .point {
    min-width: 12px;
    height: 12px;
  }
}

@media (max-width: 450px) {
  html,
  body {
    font-size: 10px;
  }

  p {
    padding: 10px !important;
  }
}
.circle {
  position: relative;
  width: max-content;
}
.circle > strong {
  position: absolute;
  transform: translate(-45%, -65%);
  top: 50%;
  left: 50%;
  font-size: smaller;
  font-family: var(--font);
  color: var(--captive);
  font-weight: 400;
  margin: 0px;
}
.progressbar p {
  margin: 0px;
  margin-top: 10px;
  font-size: smaller;
  font-weight: 400;
  color: var(--text);
  font-family: var(--font);
}

@media (max-width: 1000px) {
  p.foo-copy.mt-3.col-6.mr-auto {
    display: flex;
    justify-content: space-between;
    width: 25% !important;
  }
}
